@{ 

}

<!Doctype HTML>

<html>

<head>
    <title>Browse Jokes</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Allan" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bangers" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Luckiest Guy" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/styles/topMenu.css" />
    @RenderSection("styles", required: false)
    
    
</head>

<body>
    <div id="outerContainer" class="container">
        <div id="innerContainer">
            <div class="line1"></div>

            <a asp-controller="App" asp-action="Index">
                <div id="homeBox" class="sideBox">
                    <p>Front Page</p>
                </div>
            </a>

            <div class="line2"></div>

            <a asp-controller="Profile" asp-action="Index">
                <div id="secondBox" class="sideBox">
                    <p>Profile</p>
                </div>
            </a>

            <div class="titleBar">
                <h2 class="titleText">@ViewBag.Title</h2>
            </div>
            <div class="designBar"></div>
            <div class="linkBar">
                <a asp-action="TopJokes">
                    <div class="@getLinkClass("Top Jokes")">
                        <h3>Top Jokes</h3>
                    </div>
                </a>

                <a asp-action="OffensiveJokes">
                    <div class="@getLinkClass("Offensive Jokes")">
                        <h3>Offensive Jokes</h3>
                    </div>
                </a>

                <a asp-action="NewJokes">
                    <div class="@getLinkClass("New Jokes")">
                        <h3>New Additions</h3>
                    </div>
                </a>

                <a asp-action="Random">
                    <div class="@getLinkClass("So random...")" id="lastBox">
                        <h3>Random Reel</h3>
                    </div>
                </a>

            </div>
            
            @RenderBody() 

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("scripts", false)
</body>

</html>

@functions {
    public string getLinkClass(string str)
    {
        if (ViewBag.Title == str)
        {
            return "linkBox active";

        }
        else
        {
            return "linkBox";

        }
    }
}




