@model LaughOrFrown.ViewModels.PagedJokesViewModel

@{
    Layout = "_Layout";
}

@section styles {
    <link rel="stylesheet" href="~/styles/jokes.css" />
}

<div id="jokesView">
    @foreach (var Joke in Model.Jokes)
    {
        <a asp-action="Joke" asp-route-id=@Joke.Id asp-route-returnurl="@Context.Request.Path">
            <div class="jokeBox">
                <h3>@Joke.JokeText</h3>
                <h6>@Joke.OffensiveAverageRating</h6>
            </div>
        </a>

    }

    <div class="navFooter">
        <a href="@generateUrl("back")" class="@generateClass("back")">
            <i class="glyphicon glyphicon-menu-left" id="leftArrow"></i><p class="leftText">Funnier Jokes</p>
        </a>
        <a href="@generateUrl("forward")" class="@generateClass("forward")">
            <i class="glyphicon glyphicon-menu-right" id="rightArrow"></i><p class="rightText">Questionable Content</p>
        </a>
    </div>

</div>


@section scripts {
    <script src="~/scripts/jokesScript.js"></script>
}


@functions {
    private string generateUrl(string direction)
    {
        if (direction == "back")
        {
            return Context.Request.Path + "?page=" + (Model.currentPage - 1);
        }
        else
        {
            return Context.Request.Path + "?page=" + (Model.currentPage + 1);
        }
    }

    private string generateClass(string direction)
    {
        if (direction == "back")
        {
            if (Model.hasPreviousPage)
            {
                return "";
            }
            else
            {
                return "greyed";
            }
        }
        else
        {
            if (Model.hasNextPage)
            {
                return "";
            }
            else
            {
                return "greyed";

            }
        }
    }

}




