@model IEnumerable<LaughOrFrown.ViewModels.JokeViewModel>

@{ 
    Layout = "_ProfileLayout";
}

@section styles {
    <link href="~/styles/userJokeTable.css" rel="stylesheet" />
}

@Html.AntiForgeryToken() 

<div class="container">
    <h3>Your Contributions</h3>

    <hr/>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><a asp-action="Jokes" asp-route-sortby="Title" class="@linkClass("Title")">Joke Title</a></th>
                <th><a asp-action="Jokes" asp-route-sortby="Date" class="@linkClass("Date")">Date Created</a></th>
                <th><a asp-action="Jokes" asp-route-sortby="Ratings" class="@linkClass("Ratings")">Ratings Received</a></th>
                <th><a asp-action="Jokes" asp-route-sortby="HotRating" class="@linkClass("HotRating")">Hot Rating</a></th>
                <th><a asp-action="Jokes" asp-route-sortby="OffensiveRating" class="@linkClass("OffensiveRating")">Offensive Rating</a></th>
            </tr> 
        </thead>

        <tbody>
            @foreach (var joke in Model)
            {
                <tr class="bodyRow" id="@joke.Id">
                    <td class="jokeTitle">@joke.JokeText</td>
                    <td>@joke.DateCreated</td>
                    <td>@joke.Ratings.Count()</td>
                    <td>
                        @if (joke.HotAverageRating == -1)
                        {
                            <text>n/a</text>

                        }
                        else
                        {
                            <text>@Math.Round(joke.HotAverageRating, 2, MidpointRounding.AwayFromZero)</text>
                        }

                </td>
                    <td>
                        @if (joke.OffensiveAverageRating == -1)
                        {
                            <text>n/a</text>

                        }
                        else
                        {
                            <text>@Math.Round(joke.OffensiveAverageRating, 2, MidpointRounding.AwayFromZero)</text>
                        }
                    </td>
                </tr>

            }
            
        </tbody>
    </table>

    @if (Model.Count() == 0)
            {
        <h5>You have not made any contributions yet! Get to work.</h5>

    }

    <div id="popUpMenu">
        <form id="deleteForm" method="post" asp-controller="Profile" asp-action="Delete">
            <input type="hidden" name="jokeid" id="jokeid" />
            <div class="arrow"></div>
            <div class="menuItem" id="viewJoke">
                View Joke
            </div>
            <div class="menuItem" id="deleteJoke">
                Delete Joke
            </div>
        </form>
    </div>

</div>

@section scripts {
    <script src="~/scripts/userJokesScript.js"></script>
}


@functions {
    public string linkClass(string sortby)
    {
        if (ViewBag.SortBy == sortby)
        {
            return "active";
        }
        else return "";
    }
}



